<div class="oo" id="<%= dom_id email %>">
  <p>
    <strong>Object:</strong>
    <%= email.object %>
    
  </p>

  <p>
    <strong>Author:</strong>
    <%= email.author %>
  </p>

  <p>
    <%= link_to "afficher le contenu", email_path(email), data: {turbo_frame: "email"}, :method => :show %>
  </p>
    <%= button_to "supprimer", email_path(email), method: :delete, data: {turbo_frame: "delete_email"},class:"btn btn-danger"%>
</div>
